**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
.git
db.sqlite3
TestDB.db
mysite/migrations/*.py
mysite/migrations/*.pyc
!mysite/migrations/__init__.py
projects/*
.vscode
.pytest*
*.log
tempfile*
temp/upload/*
temp/extract/*
__pycache__
logs
mysite/private*
*.parquet
metastore_db
spark-warehouse
mlruns
Scripts