db.sqlite3
TestDB.db
mysite/migrations/*.py
mysite/migrations/*.pyc
!mysite/migrations/__init__.py
projects/*
.vscode
.pytest*
*.log
tempfile*
temp/upload/*
temp/extract/*
!mysite/templates*
__pycache__
logs
mysite/private*
*.parquet
metastore_db
spark-warehouse
mlruns
Scripts