<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "includes/head.html" %}

<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
  
  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  <div class="mobile-sticky-body-overlay"></div>

  
  <div id="toaster"></div>
  

  <div class="wrapper">
    {% include "includes/leftsidebar.html" %}

    

    <div class="page-wrapper">

          {% include "includes/header.html" %}


      <div class="content-wrapper">
        <div class="content">		
            <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                  <h2>Open existing Project</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Projectname</th>
                            <th scope="col">Author</th>
                            <th scrope="col">Select</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for o in projects %}
                                <tr>
                                    <th scope="row">{{o.pk}}</th>
                                    <td>{{o.projectname}}</td>
                                    <td>{{o.author}}</td>
                                    <td><form action="{% url 'openproject' o.pk %}" method='POST'>{% csrf_token %}<button type="submit" class="btn btn-primary">Select</button></form></td>
                                </tr>
                            {% endfor %}

                        </tbody>
                      </table>
                </div>
              </div>
          
                  
                  


						

						

						

						
</div>

        


      </div>

                {% include "includes/footer.html" %}

    </div>
  </div>
{% include "includes/scripts.html" %}

</body>

</html>
