<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
      <!-- Aplication Brand -->
      <div class="app-brand">
        <a href="/index.html">
          <svg
            class="brand-icon"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            width="30"
            height="33"
            viewBox="0 0 30 33"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                class="logo-fill-blue"
                fill="#7DBCFF"
                d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
              />
              <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
            </g>
          </svg>
          <span class="brand-name">快 ku.ÀI</span>
        </a>
      </div>
      <!-- begin sidebar scrollbar -->
      {% include "includes/menu.html" %}

      <hr class="separator" />

      <div class="sidebar-footer">
        <div class="sidebar-footer-content">
          <h6 class="text-uppercase">
            Cpu Uses <span class="float-right" id="readlnumbercpu">40%</span>
          </h6>
          <div class="progress progress-xs">
            <div id="realbarcpu"
              class="progress-bar active"
              style="width: 40%;"
              role="progressbar"
            ></div>
          </div>
          <h6 class="text-uppercase" style="visibility:hidden">
            GPU Uses <span class="float-right" id="readlnumbergpu">40%</span>
          </h6>
          <div class="progress progress-xs" style="display:none;visibility:hidden">
            <div id="realbargpu"
              class="progress-bar bg-success"
              style="width: 50%;"
              role="progressbar"
            ></div>
          </div>
          <h6 class="text-uppercase">
            Memory Uses <span class="float-right" id="readlnumbermemory">65%</span>
          </h6>
          <div class="progress progress-xs">
            <div id="realbarmemory"
              class="progress-bar progress-bar-warning"
              style="width: 65%;"
              role="progressbar"
            ></div>
          </div>
        </div>
        <script type="text/javascript">
        function updateStats(){
          fetch("{% url 'getSystemStats' %}").then(response => response.json()).then(
            data => {
              $("#readlnumbercpu").text(data.cpu+"%")
              $("#readlnumbermemory").text(data.memory+"%")
              $("#readlnumbergpu").text(data.gpu+"%")

              $("#realbarmemory").css("width",data.memory+"%")
              $("#realbarcpu").css("width",data.cpu+"%")
              $("#realbargpu").css("width",data.gpu+"%")
              setTimeout(updateStats,5000)
            }
          );

        }
        
        $(document).ready(updateStats)
        
        </script>
      </div>
    </div>
  </aside>