<style>
  td.layerselection select{
    width:inherit
  }
  td.layerselection{
    width:120px
  }
  td.attributeselection{
    width:240px
  }

  td.optionalbuttons{
    width:90px
  }
  </style>

<script type="text/javascript">
layeroptions = {};
//{% for r in layer_types %}
layeroptions[ '{{r.0}}' ] = [];

      //{% for o in r.1 %}
      layeroptions[ '{{r.0}}' ].push({'{{ o.0 }}':'{{ o.1 }}'})
        
      //{% endfor %}
//{% endfor %}

</script>
<script>
//setup layer config
layerconfigs = {
//{% for r in layers %}
  "{{r.index}}" : {
  //{% for a in r.confs %}
  
    "{{ a.fieldname }}" : "{{ a.option }}",
  //{% endfor %}  
  },
//{% endfor %}
}

</script>



<script type="text/javascript">

availablelayers = []

//{% for inp,val in inputs.items %}
//adding inputlayer
availablelayers.push("Input{{inp}}_{{val.shape}}")
//{% endfor %}

//{% for layer in availablelayers %}
//adding intermediatelayer
availablelayers.push("{{layer}}")  
//{% endfor %}


function addoptionnodes(element){
  
  var level = element.getAttribute("level")
  optionnode = element.parentNode.parentNode.getElementsByClassName('options')[0];
  optionnode.innerHTML = ''
  
  var seltype = element.selectedOptions[0].text
  options = layeroptions[ seltype ]
  if(options){
    options.forEach(function(e){
      
    var trnode = document.createElement('tr');
    var tdnode1 = document.createElement('td');
    var textnode = document.createTextNode(Object.keys(e)[0]); 
    var tdnode2 = document.createElement('td');
    var inputnode = document.createElement('input');
    
    inputnode.setAttribute('placeholder',e[Object.keys(e)[0]])
    inputnode.setAttribute('name','para'+level+'$'+Object.keys(e)[0]+'%'+seltype)
    try{
      inputnode.setAttribute('value',layerconfigs[level][Object.keys(e)[0]])
    }catch{
      //nothing to do here
    }
    
    
    
    //TODO: define value here!
    trnode.appendChild(tdnode1);
    tdnode1.appendChild(textnode);
    trnode.appendChild(tdnode2);
    tdnode2.appendChild(inputnode);
    optionnode.appendChild(trnode); 
  })
  }
  
}

counter = availablelayers.length-1;
counteronloaded = counter;

function removelayer(e){
var myid = $(e).parent().parent().attr("id").substr(12)
$("#bottomrocker"+myid).remove()
$("#toprocker"+myid).remove()
console.log(myid)
}

function createnewlayer(e,index,layertype,inputlayers,options){
var tbodyconf = document.getElementById('networkconfbody')

var tr0 = document.createElement('tr');
tr0.setAttribute("id","toprocker"+index)
var td0_0 = document.createElement('td');
td0_0.setAttribute("rowspan",2)
if(!index){
  td0_0.innerHTML = counter+"";
}else{
  td0_0.innerHTML = index+"";
}

tr0.appendChild(td0_0)
var td0_1 = document.createElement('td');
td0_1.setAttribute("colspan",3)

td0_1.innerHTML='<div class="form-group selector'+counter+'"><select class="js-example-basic-multiple form-control selector'+counter+'" name="states[]'+counter+'" multiple="multiple"></select></div>'

tr0.appendChild(td0_1)

tbodyconf.appendChild(tr0)

var tr = document.createElement('tr');
tr.setAttribute("id","bottomrocker"+index)
//var td0 = document.createElement('td');
//td0.innerHTML = counter+"";
//tr.appendChild(td0);


var td1 = document.createElement('td');
td1.setAttribute("class","layerselection")
var tmpinnerHTML = 
'<select onchange="addoptionnodes(this)" name="layer'+counter+'"'+
    'class="form-control" level="'+counter+'" id="layerselection_'+counter+'">'+
      '<option>None Selected</option>';
      //{% for r in layer_types %}
      if ('{{r.0}}' == layertype){
        tmpinnerHTML += '<option selected>{{ r.0 }}</option>';
      }else{
        tmpinnerHTML += '<option>{{ r.0 }}</option>';
      }
      
      //{% endfor %}
tmpinnerHTML += '</select>'

td1.innerHTML = tmpinnerHTML
tr.appendChild(td1);  

var td2 = document.createElement('td');
td2.setAttribute("class","attributeselection");
td2.innerHTML = '<table class="options">'+
                '</table>';
tr.appendChild(td2);  
var td3 = document.createElement('td');
td3.setAttribute("class","optionalbuttons");
td3.innerHTML = 
        '<button type="button" class="mb-1 btn btn-sm btn-primary">Up</button><br/>'+
        '<button type="button" class="mb-1 btn btn-sm btn-primary">Down</button><br/>'+
        '<button type="button" onclick="removelayer(this)" class="mb-1 btn btn-sm btn-danger">Delete</button><br/>';

tr.appendChild(td3);   
tbodyconf.appendChild(tr);

availablelayers.push(counter);

/** 
  * 
  * iterate over all multi selection, to add new layer.
  * 
  **/
  
  var selectforms = document.getElementsByClassName('form-control selector'+counter)
  elementselector = selectforms[0];
  for(var j = 0; j < availablelayers.length-1;j++){
    layer = availablelayers[j]
    var option = document.createElement("option");
    option.setAttribute("value",layer);
    //option.setAttribute("selected","selected");
    option.textContent = layer;
    elementselector.appendChild(option);
  }


  var selectforms = document.getElementsByClassName('form-control')
  for(var i = 0; i < selectforms.length;i++){
  elementselector = selectforms[i];
  for(var j = availablelayers.length-1; j < availablelayers.length;j++){
    layer = availablelayers[j]
    var option = document.createElement("option");
    option.setAttribute("value",layer);
    //option.setAttribute("selected","selected");
    option.textContent = layer;
    elementselector.appendChild(option);
  }
  }
  

  
setTimeout(function(){$('.js-example-basic-multiple').select2()},0);
//$(".form-control.selector"+counter).val(availablelayers[availablelayers.length-2])
$(".form-control.selector"+counter).val(inputlayers)

$(".form-control.selector"+counter).trigger("change")

$('#layerselection_'+counter).trigger("change")

counter++;


}

//{% for l in layers %}
  createnewlayer(undefined
    ,'{{ l.index }}'
    ,'{{ l.layertype }}'
    ,{{ l.input|safe }}
    ,{
    //{% for lc in l.confs %}
      '{{lc.fieldname|safe}}':'{{ lc.option |safe}}',
    //{% endfor %}
    }
    );
//{% endfor %}



</script>