<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "includes/head.html" %}

<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
  
  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  <div class="mobile-sticky-body-overlay"></div>

  
  <div id="toaster"></div>
  

  <div class="wrapper">
    {% include "includes/leftsidebar.html" %}

    

    <div class="page-wrapper">
                <!-- Header -->
          {% include "includes/header.html" %}


      <div class="content-wrapper">
        <div class="content">	
          <div class="row">
          <div class="col-lg">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                  <h2>Create Neural Network Structure</h2>
                </div>
                <div class="card-body"  style="overflow:scroll">
                  <form action="{% url 'uploadnetworkconf' project.pk %}" method="POST">
                      {% csrf_token %}
                  <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Layer Type Selection</th>
                            <th scope="col">Configuration</th>
                            <th scope="col">Options</th>
                          </tr>
                        </thead>
                        <tbody id="networkconfbody">
                          
                        </tbody>
                      </table>
                      {% include "includes/neuralnetworkhelper.html" %}
                      <button type="button" onclick="createnewlayer(this)" class="mb-1 btn btn-block btn-primary">Add Layer</button>
                      <button type="submit" class="mb-1 btn btn-block btn-primary">Submit</button>


                      
                  </form>    
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-default">
                  <div class="card-header card-header-border-bottom">
                    <h2>Edit Attributes</h2>
                  </div>
                  <div class="card-body">
                    First, Select a Layer Type. Then edit the attributes as shown.
                  </div>
                </div>

                

                
              </div>
                  
                  


						

						

						

						
</div>

        


      </div>
    </div>	

          {% include "includes/footer.html" %}      

    </div>
  </div>

{% include "includes/scripts.html" %}
</body>

</html>
