<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include "includes/head.html" %}

<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

  <script>
    NProgress.configure({
      showSpinner: false
    });
    NProgress.start();
  </script>

  <div class="mobile-sticky-body-overlay"></div>


  <div id="toaster"></div>


  <div class="wrapper">
    {% include "includes/leftsidebar.html" %}



    <div class="page-wrapper">

      {% include "includes/header.html" %}


      <div class="content-wrapper">
        <div class="content">
          <form action="{% url 'uploadoptandout' project.pk %}" method="POST">
            {% csrf_token %}
            <div class="col-lg-8">
              <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                
                  <h2>Select Output Layer</h2>
                </div>
                <div class="card-body">

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 10%;min-width: 20px;" >#</th>
                        <th scope="col">Layer Type Selection</th>
                        <th scope="col">Configuration</th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody id="networkconfbody">

                    </tbody>
                  </table>



                  {% include "includes/neuralnetworkhelper.html" %}

                </div>
              </div>
            </div>
            
            <script type="text/javascript">
              outputs = []
              {% autoescape off %}
              //{% for output,value in outputs.items %}
              outputs[{{output}}]  = "{{value}}"
              //{% endfor %}
              {% endautoescape %}
              while (counter < counteronloaded + {{outputs | length}}) {
                createnewlayer(undefined,outputs[counter-counteronloaded+1]);
              }
              

              optimizeroptions = {};
              //{% for opti in optimizers %}
              optimizeroptions["{{opti.0}}"] = [];
              //{% for option in opti.1 %}
              optimizeroptions["{{opti.0}}"].push({
                "{{option.0}}": "{{option.1}}"
              })
              //{% endfor %}  

              //{% endfor %}  

              optimizerconfiguration = {};
              //{% for optconf in optimizerconfiguration %}
              optimizerconfiguration["{{optconf.fieldname}}"] = "{{optconf.option}}";
              //{% endfor %}  
              function onselectionchanged(event) {
                var seltype = event.target.value
                changeOptimizerOptions(seltype)


              }

              function changeOptimizerOptions(optimizertype) {
                var toadd = document.getElementById("itemdefinition");
                toadd.innerHTML = ""

                var cur_options = optimizeroptions[optimizertype];
                if (cur_options) {
                  cur_options.forEach(function (e) {
                    allkeys = Object.keys(e);
                    optionname = allkeys[0];
                    optiondefaultvalue = e[allkeys[0]];

                    var trnode = document.createElement('tr');
                    var tdnode1 = document.createElement('td');
                    var textnode = document.createTextNode(optionname);
                    var tdnode2 = document.createElement('td');
                    var inputnode = document.createElement('input');

                    inputnode.setAttribute('placeholder', optiondefaultvalue)
                    inputnode.setAttribute('name', "optpara" + optimizertype + '$' + optionname)
                    if (optimizerconfiguration[optionname]) {
                      inputnode.setAttribute('value', optimizerconfiguration[optionname])
                    }
                    trnode.appendChild(tdnode1);
                    tdnode1.appendChild(textnode);
                    trnode.appendChild(tdnode2);
                    tdnode2.appendChild(inputnode);
                    toadd.appendChild(trnode);
                  })
                }
              }
            </script>

            <div class="col-lg-8">
              <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                  <h2>Select Optimizer</h2>
                </div>
                <div class="card-body">
                  <label for="optimizerselect">Choose Optimizer</label>
                  <select onchange="onselectionchanged(event)" id="optimizerselect" name="optimizerselect">
                    <option>Please select...</option>
                    {% for opti in optimizers %}
                    <option {% if opti.0 == optimizername %}selected{% endif %}>{{opti.0}}</option>
                    {% endfor %}
                  </select>
                  <table>
                    <thead>
                      <tr>
                        <th>Option</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody id="itemdefinition">
                      <tr>
                        <td colspan="2">Choose Optimizer first.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <script type="text/javascript">
              changeOptimizerOptions("{{optimizername}}")
            </script>

            <div class="col-lg-8">
              <div class="card card-default">
                <div class="card-body">
                  <button type="submit" class="mb-1 btn btn-block btn-primary">Submit</button>
                </div>
              </div>
          </form>
        </div>






      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>
  </div>
  {% include "includes/scripts.html" %}

</body>

</html>