<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "includes/head.html" %}

  <body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
    <script>
      NProgress.configure({ showSpinner: false });
      NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <div id="toaster"></div>

    <div class="wrapper">
      {% include "includes/leftsidebar.html" %}

      <div class="page-wrapper">
        <!-- Header -->
        {% include "includes/header.html" %}

        <div class="content-wrapper">
          <div class="content">
            <div class="col-lg">
              <form
                action="{% url 'setupdataclassifcation' project.pk %}"
                method="POST"
              >
                {% csrf_token %}

                <div class="card card-default">
                  <div class="card-header card-header-border-bottom">
                    <h2>DataFrame Description</h2>
                  </div>

                  <div id="dataframepreview" class="card-body">
                    {% autoescape off %} {{dfdescription}} {% endautoescape %}
                  </div>
                </div>

                <div class="card card-default">
                  <div class="card-header card-header-border-bottom">
                    <h2>Target Distribution</h2>
                  </div>
                  <div id="dataframepreview" class="card-body">
                    {% autoescape off %} {{distribution}} {% endautoescape %}
                  </div>
                </div>

                <div class="card card-default">
                  <div class="card-header card-header-border-bottom">
                    <h2>Create Chart</h2>
                  </div>
                  <div>
                    <p class="mb-5"> Select Columns
                      <select
                        class="js-example-basic-multiple form-control"
                        name="columns"
                        multiple="multiple"
                        data-select2-id="columns"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        //{% for c in columns %}
                        <option value="{{ c }}" selected>{{c}}</option>
                        //{% endfor %}
                      </select>
                    </p>
                    <p class="mb-5"> Select X-Axis
                      <select
                        class="js-example-basic-multiple form-control"
                        name="x"
                        
                        data-select2-id="x"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        //{% for c in columns %}
                        <option value="{{ c }}">{{c}}</option>
                        //{% endfor %}
                      </select>
                    </p>
                    <p class="mb-5"> Select Y-Axis
                      <select
                        class="js-example-basic-multiple form-control"
                        name="y"
                       
                        data-select2-id="y"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        //{% for c in columns %}
                        <option value="{{ c }}">{{c}}</option>
                        //{% endfor %}
                      </select>
                    </p><p class="mb-5"> Select hue
                      <select
                        class="js-example-basic-multiple form-control"
                        name="hue"
                        
                        data-select2-id="hue"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        //{% for c in columns %}
                        <option value="{{ c }}">{{c}}</option>
                        //{% endfor %}
                      </select>
                    </p>
                    <p class="mb-5"> Select Function
                      <select
                        class="js-example-basic-multiple form-control"
                        name="function"
                        
                        data-select2-id="function"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        //{% for key,value in plotfunctions.items %}
                        <optgroup label="{{ key }}">
                          //{% for func in value %}
                          <option value="{{ func }}">{{func}}</option>
                          //{% endfor %}
                        </optgroup>
                        
                        //{% endfor %}
                      </select>
                    </p>
                    
                    <img id="123"/>
                    <button type="button" class="mb-1 btn btn-block btn-primary" id="definition">Create</button>
                    <button type="button" class="mb-1 btn btn-block btn-warning" id="savedefinition">Save</button>

                    <script type="text/javascript">
                      var getcharturl =
                        "{% url 'dataanalysisbychart' project.pk %}";
                      
                      $("#definition").click(function () {
                        var username = $(this).val();
                        data = {
                            'x': $('select[name = "x"]').select2('data').map(x => {return x.id}),
                            'y': $('select[name = "y"]').select2('data').map(x => {return x.id}),
                            'columns': $('select[name = "columns"]').select2('data').map(x => {return x.id}),
                            'hue': $('select[name = "hue"]').select2('data').map(x => {return x.id}),
                            'func': $('[name = function]')[0].value
                          }
                        

                        fetch(
                        getcharturl +
                          "?" +
                          new URLSearchParams(data)
                        ).then((imageData) => {
                          imageData.blob().then((blobData) => {
                            this.imageLoaded = true;
                            let src = URL.createObjectURL(blobData);
                            $("#123").attr("src", src);
                          });
                        });
                        
                        
                      });

                      const headers = new Headers({
                        Accept: "application/json, text/plain, */*",
                        "Content-Type": "application/json",
                        "X-CSRF-TOKEN": "{{csfr_token}}",
                      });
                      
                    </script>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <footer class="footer mt-auto">
          <div class="copyright bg-white">
            <p>
              &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard
              Bootstrap Template by
              <a
                class="text-primary"
                href="http://www.iamabdus.com/"
                target="_blank"
                >Abdus</a
              >.
            </p>
          </div>
          <script>
            var d = new Date();
            var year = d.getFullYear();
            document.getElementById("copy-year").innerHTML = year;
          </script>
        </footer>
      </div>
    </div>
    {% include "includes/scripts.html" %}
    
  </body>
</html>
