<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "includes/head.html" %}

<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
  
  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  <div class="mobile-sticky-body-overlay"></div>

  
  <div id="toaster"></div>
  

  <div class="wrapper">
    {% include "includes/leftsidebar.html" %}

    

    <div class="page-wrapper">
          {% include "includes/header.html" %}


      <div class="content-wrapper">
        <div class="content">		
            <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                  <h2>Create new Project</h2>
                </div>
                <div class="card-body">
                  <form action="{% url 'createnewproject' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
					  
						
					  <label for="projectNameInput">Project Name</label>
					  <input class="form-control" id="projectNameInput" name="projectNameInput" placeholder="Enter Project Name"></input>
					  <br/>
					  <label for="authorNameInput">Author</label>
					  <input class="form-control" id="authorNameInput" name="authorNameInput" placeholder="Enter Author Name"></input>
                    </div>
                    <div class="form-footer pt-4 pt-5 mt-4 border-top">
                      <button type="submit" class="btn btn-primary btn-default">Submit</button>
                      <button type="submit" class="btn btn-secondary btn-default">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
          
                  
                  


						

						

						

						
</div>

        


      </div>

                {% include "includes/footer.html" %}

    </div>
  </div>
{% include "includes/scripts.html" %}

</body>

</html>
